{% extends 'base.html'%}
{% block content %}
  <div class="row">
    <div class="col">
      <h2 class='mt-4'>What You want to do Today?</h2>
      <div class="col">
        <form class="form-inline mt-4" action="{% url 'add' %}" method="post">
           <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              name="search"
              placeholder="Type....">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Another Row -->
  <div class="row">
    <div class="col mt-4">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

  </div>
{% endblock %}
