{% extends 'base.html'%}
{% block content %}
  <div class="row">
    <div class="col">
      <h2 class='mt-4'>What You want to do Today?</h2>
      <div class="col">
        <form class="form-inline mt-4" action="{% url 'add' %}" method="post">
           <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              name="search"
              placeholder="Type....">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Another Row -->
  <div class="row">
    <div class="col mt-4">
      <ul class="list-group">
        {% for item in items %}
          <li class="list-group-item">{{item.name }} having ip address {{item.ip_address}}
            <div class="float-right">
              <form class="form-inline" action="{% url 'delete' item_id=item.id %}" method="post">
                <button type="submit" class="btn btn-sm btn-danger float-right">Delete</button>
              </form>
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
