{% extends 'base.html'%}
{% block content %}
  <div class="row">
    <div class="col">
      <h2>What You want to do Today?</h2>
      <div class="col">
        
        <form class="form-inline" action="{% url 'add' %}" method="post">
           <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              id="inlineFormInputName2"
              placeholder="Type....">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
